*{
    padding: 0%;
    margin: 0%;
    
}

body{
    background-color: aliceblue
}
p, .images, .paragraph , .buttons, ul, li{
    display: inline-flex;
        
 }
.images i{
    color: white;
    margin-left:30px;
    /* align-items: center; */


}
.paragraph {
    color: white;
    margin-left: 100px    ;

}
.buttons{
    margin-left: 100px;
    height: 25px;
}
.back, .images, .paragraph, .buttons{
    background-color: royalblue;
    padding: 5px; 
    text-align: center;
}



.img1,.img2,.img3,.img4{
    margin-right: 20px;
}

.add{
    vertical-align: bottom;
    background-color: darkcyan;
    color: white;
     margin-top: ;
    width: 85%;
    height: 25px;
    font-size: large;
    }
.details{
    color: chartreuse;
}
.slider{
    padding: 0%;
    margin: 0%;
}
.topnav{
    
    margin-top: -17px;
    background-color: aliceblue;
    
}

.topnav ul li a{
    
        display: inline-block;
        margin-top: -15px;
        text-align: center;
        padding: 10px 14px;
        text-decoration: none;
      

}
.topnav ul li a:hover{
    color: white;
    background-color: royalblue;
    border-radius: 50px;
    
}

.more{
    color: blue;
}
.intro{
    
    font-weight: bolder;
    font-size: xx-large;
    color: blue;

}

.duction{

    font-weight: bolder;
    font-size: xx-large;
    color: green;

}
.design{
    font-weight: bolder;
    color: green;
    font-size: xx-large;
}
.para{
    text-align: justify;
    line-height: 25px;
    word-spacing: 3px;
    color: gray;
}
.logo{
    margin-left: 130px;
}
.bar, ul, li{
    padding:10px;
    margin-left: 20px;
    /* display: inline-flex;        */
}

a{
    text-decoration: none;
    color: black;
}

sub-menu-1{
    display: none;
}


.footer1{
    /* display: inline-flex; */
    width: 100%;
    background-color: royalblue;
    color: white;
    height: 300px;
}

.count1{
    /* padding: 60px; */
    font-weight: initial;
    /* font-weight: bold; */
    margin-top: -25px;
font-size: 45px;
margin-left: 140px;
}
.icon{
    margin-left: 160px;
    padding: 35px;
}

.daily1{
    padding: 15px;
    margin-left: 15px;
    font-size: normal;
    /* padding: 15px; */
}
.monthly{
    color: greenyellow;
    font-size: large;
}

.td-data{
width: 33%;
height: 150px;
background-color: white;
text-align: center;
padding: 20px;
box-shadow: 5px 5px 5px lightgray ;
color: darkcyan;
font-weight: bolder;
font-size: larger;
}
.table{
    background-color: honeydew;
}
.mission{
    font-size: xx-large;
    font-weight: bold;
    color:#0000CD ;
    margin-left: 95px;
    background-color:aliceblue;
}
.event{
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 200px;
    color: blue;
    margin-top: -150px;
}
.project{
    margin-left: 60px;   
    margin-top: -230px;
    
}
.line{
    color: green;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: -15px;

}
.td{
    font-size: small;
    font-weight: bold;
    padding: 5px;
    width: 30%;
    height: 60px;
    color: blue;
    background-color: white;
}
.drag{
    margin-left: 880px;
    height: 20px;
}
.upcoming{
    line-height: 20px;
    word-spacing: 1px;
    color: gray;
    text-align: justify;
}
.detail{
    color: royalblue;
}
.contacts{
    background-color: #191919;
    width: 100%;
    height: 370px;
    /* color: white; */
    /* padding: 60px; */
}
.globe i{
    color: green;
    line-height: 25px;

}
.globe p {
    line-height: 25px;
}
.footer-content{
    color: white;
    margin-left: 500px;
    font-weight: bolder;
    font-size: large;
}
.head{
    color: gray;
    margin-left: 100px;
    line-height: 25px;   
}
.gray{
    color: gray;
    margin-left: 110px;
}
.grey{
    color: gray;
    margin-left: 30px;
}
.connect{
    margin-left: 400px;
    margin-top: -40px;
}
.ic{
    color: #0000CD;
    background:white;
    border-radius: 50%;
}
.end-footer{
    width: 100%;
    height: 40px;
    /* margin-left: 100px; */
    background-color: #4169E1;
   
}
.copy{
   
    margin-left: 110px;
    margin-top: 12px;
    color: white;
    font-size: small;

}
.contact-icon {
    margin-left: 470px;
    margin-top: -15px;
    text-align: center;
}
.btn{
    width: 30px;
    height: 30px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 40%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}
.btn i{
    font-size: 15px;
    line-height: 30px;
    transition: 0.2s linear;
    align-content: center;
    
}
.btn:hover i{
    transform: scale(1.3);
    color:#f1f1f1;
}
.btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa{
0%{
    left: -110%;
    top: 90%;
}
50%{
    left: 10%;
    top: -30%;
}
100%{
    top: -10%;
    left: -10%;
}
}
